@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import url(http://fonts.googleapis.com/css?family=Cinzel);

$beige: #c4b68e;
$light-grey: #cbcbcb;
$dark-grey: #5c5b59;
$black: #353535;

.about .nav1, .professional .nav2, .community .nav3, .contact .nav4{
	background: linear-gradient(#d2c399, $beige);
	@include text-shadow(rgba(#000, 0.4) 1px 1px 1px);
}

a, a:visited{
	color: inherit;
	text-decoration: none;						
}

body{
	background: $dark-grey;

	section{
		header{
			background: linear-gradient(#535250, #656462);
			border-bottom: $beige 4px solid;
			font-family: 'Cinzel', serif;
			color: #FFF;
			text-align: center;
			text-transform: uppercase;
			padding-top: 30px;

			h1{
				font-size: 1.6em;

				b{
					font-size: 14px;
					color: $light-grey;
				}
			}

			h2{
				font-size: 1.2em;
				color: $beige;
				margin: 5px 0 20px 0;
			}

			nav{
				overflow-x: scroll;

				ul{
					margin: auto;
					width: 522px;
					
					li{
						display: inline-block;
						font-size: 12px;

						a{
							display: block;
							padding: 14px 12px 12px;
						}
					}
				}
			}
		}

		.background{
			background-image: url('../images/bg_about_640.jpg');
			background: center top no-repeat;
			position: relative;
			background-size: 100%;
			height: 160px;
		}

		article{
			padding: 30px 15px;
			background: white;
			font-family: Helvetica;
			font-size: 12px;
			color: $black;
			line-height: 20px;

			h1{
				font-family: 'Cinzel', serif;
				font-size: 18px;
				color: $dark-grey;
				padding: 0 60px 10px;
				margin-bottom: 18px;
				border-bottom: $light-grey 1px solid;
				text-align: center;
			}

			h2{
				font-weight: bold;
				margin-bottom: 4px;
			}

			p{
				margin-bottom: 18px;

				&:last-child{
					margin-bottom: 0px;
				}
			}

			ul {
				margin-bottom: 18px;
				line-height: 24px;

				li{
					position: relative;
					text-indent: 16px;

					&:before{
						position: absolute;
						top: 9px;
						left: 0;
						content: "";
						width: 5px;
						height: 5px;
						background: $beige;
					}
				}
			}

			a, a:visited{
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}

			div{
				display: inline-block;
				vertical-align: top;
				width: 49%;
			}

			iframe{
				margin-top: 28px;
				@include box-shadow(rgba(#000, 0.3) 0 0px 3px);
				}

			.footnote{
				background: #e1e1e1;
				font-style: italic;
				padding: 10px;
				border: $light-grey 1px solid;
			}
		}
	}
}

@media (min-width: 525px) {
	body section header nav{
		overflow-x: visible;
		height: auto;
		position: static;

		ul{
			position: static;
			width: auto;
		}
	}
}

@media (min-width: 640px) {
	body section{

		.background{
			background-image: url('../images/bg_about_920.jpg');
			height: 300px;
		}

		article{
			padding: 30px;
		}
	}
}

@media (min-width: 920px) {

	body section{
		width: 560px;
		margin: 50px;
		@include box-shadow(rgba(#000, 0.3) 0 0px 10px);

		header{
			h1{
				font-size: 32px;

				b{
					font-size: 16px;
				}
			}

			h2{
				font-size: 22px;
			}

			nav	ul li	a{
				padding: 10px 12px;
			}		
		}

		.background{
			background-image: url('../images/bg_about_1920.jpg');
			background-size: 100%;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -10;
			height: auto;
		}

		article{
			background: rgba(white, 0.9);

			div{
				width: 49%;
				margin: 0;
			}
		}
	}
}
